# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# Environment variables
*.env

# Database files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migrations
migrations/

# Test coverage reports
htmlcov/
.coverage
.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/